@import "../common/variables.scss";

$header-li-margin: 20px;

.App {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  text-align: right;
  color: $pure-white;
  background-color: $gray-black;
  overflow: hidden;
  z-index: 10;
  padding: 0 10%;
  background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/02/High-Res-Wood-Desktop-Background.jpg);
  background-repeat: repeat;
  background-size: 15%;

  &.mobile {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../common/Brown-Wooden-Texture-Vector.jpg");
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  h1 {
    margin-top: 0;
    font-size: 26px;
  }

  .red {
    color: red;
  }

  .bold {
    font-weight: bold;
  }

  header {
    font-size: 18px;
    margin: 20px 0;
    align-content: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 10% 1fr;
    .logo {
      //display: none;
      img {
        width: 100%;
      }
    }

    a[data-promo="true"] {
      border: 1px solid $pure-white;
      padding: 5px;
      border-radius: 7.5px;
    }
  }

  header, footer {
    z-index: 2;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li:last-child {
        margin-right: 0;
      }
    }

    li {
      display: inline-block;
      margin: $header-li-margin;
      a {
        text-decoration: none;
        color: $pure-white;
      }

      a:hover, a:active {
        color: $pure-white;
      }

      a.active {
        color: orange;
      }
    }
  }

  .content {
    z-index: 1;
  }

  footer {
    text-align: center;
    margin-top: 25px;
    h2 {
      font-size: 18px;
    }
    nav {
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        //background: $gray-black-2;
        background: $glass;
        border-radius: 15px;

        li {
          margin: 0;

          .subscribe-form {
            input {
              display: block;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              font-size: 16px;
              margin: 0 auto 15px;
            }

            button {
              color: white;
              font-size: 18px;
              padding: 15px;
              width: 100%;
              min-width: 150px;
              margin: 0 auto;
              background-color: $gray-black-1;
              text-transform: uppercase;
              border: none;
              -webkit-box-shadow: 0 0 30px -10px $pure-black;
              box-shadow: 0 0 30px -10px $pure-black;
            }
          }
        }
      }
    }

    .social-media {

    }


    .subscribe-form {
      width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 760px) {
    padding: 0 5%;
    background-size: 100%;

    header {
      //background: $pure-white;
      background: $glass;
      overflow: hidden;
      border-radius: 15px;
      padding: 15px 5px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      .logo {
        display: block;

        img {
          width: 100%;
          margin: 0 auto;
          display: block;
        }
      }
      ul {
        text-align: center;
      }
      .main-navigation {
        li {
          margin: 20px 10px;
        }
      }
      .custom-page-navigation {
        grid-column-start: 1;
        grid-column-end: 3;
        min-height: 50px;
        line-height: 50px;
        //white-space: nowrap;
        margin-top: 0px;
        //overflow-x: scroll;
        li {
          margin: 0 10px;
        }
        li:last-child {
          margin: auto 0;
        }
      }
    }

    footer {
      padding-bottom: 50px;
      nav {
        ul {
          grid-template-columns: 1fr;
          li {
            margin: 0;

            * {
              margin: 10px 0;
            }

            .subscribe-form {
              input {
                width: 100%;
              }

              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}




