.App {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  text-align: right;
  color: #FFFFFF;
  background-color: #1A1F23;
  overflow: hidden;
  z-index: 10;
  padding: 0 10%;
  background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/02/High-Res-Wood-Desktop-Background.jpg);
  background-repeat: repeat;
  background-size: 15%; }
  .App.mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../common/Brown-Wooden-Texture-Vector.jpg"); }
  .App h1, .App h2, .App h3, .App h4 {
    text-transform: uppercase; }
  .App h1 {
    margin-top: 0;
    font-size: 26px; }
  .App .red {
    color: red; }
  .App .bold {
    font-weight: bold; }
  .App header {
    font-size: 18px;
    margin: 20px 0;
    align-content: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 10% 1fr; }
    .App header .logo img {
      width: 100%; }
    .App header a[data-promo="true"] {
      border: 1px solid #FFFFFF;
      padding: 5px;
      border-radius: 7.5px; }
  .App header, .App footer {
    z-index: 2; }
    .App header ul, .App footer ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      .App header ul li:last-child, .App footer ul li:last-child {
        margin-right: 0; }
    .App header li, .App footer li {
      display: inline-block;
      margin: 20px; }
      .App header li a, .App footer li a {
        text-decoration: none;
        color: #FFFFFF; }
      .App header li a:hover, .App header li a:active, .App footer li a:hover, .App footer li a:active {
        color: #FFFFFF; }
      .App header li a.active, .App footer li a.active {
        color: orange; }
  .App .content {
    z-index: 1; }
  .App footer {
    text-align: center;
    margin-top: 25px; }
    .App footer h2 {
      font-size: 18px; }
    .App footer nav ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background: rgba(240, 248, 255, 0.05);
      border-radius: 15px; }
      .App footer nav ul li {
        margin: 0; }
        .App footer nav ul li .subscribe-form input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          font-size: 16px;
          margin: 0 auto 15px; }
        .App footer nav ul li .subscribe-form button {
          color: white;
          font-size: 18px;
          padding: 15px;
          width: 100%;
          min-width: 150px;
          margin: 0 auto;
          background-color: #22292E;
          text-transform: uppercase;
          border: none;
          -webkit-box-shadow: 0 0 30px -10px #000000;
          box-shadow: 0 0 30px -10px #000000; }
    .App footer .subscribe-form {
      width: 90%;
      margin: 0 auto; }
  @media screen and (max-width: 760px) {
    .App {
      padding: 0 5%;
      background-size: 100%; }
      .App header {
        background: rgba(240, 248, 255, 0.05);
        overflow: hidden;
        border-radius: 15px;
        padding: 15px 5px;
        display: grid;
        grid-template-columns: 1fr 2fr; }
        .App header .logo {
          display: block; }
          .App header .logo img {
            width: 100%;
            margin: 0 auto;
            display: block; }
        .App header ul {
          text-align: center; }
        .App header .main-navigation li {
          margin: 20px 10px; }
        .App header .custom-page-navigation {
          grid-column-start: 1;
          grid-column-end: 3;
          min-height: 50px;
          line-height: 50px;
          margin-top: 0px; }
          .App header .custom-page-navigation li {
            margin: 0 10px; }
          .App header .custom-page-navigation li:last-child {
            margin: auto 0; }
      .App footer {
        padding-bottom: 50px; }
        .App footer nav ul {
          grid-template-columns: 1fr; }
          .App footer nav ul li {
            margin: 0; }
            .App footer nav ul li * {
              margin: 10px 0; }
            .App footer nav ul li .subscribe-form input {
              width: 100%; }
            .App footer nav ul li .subscribe-form button {
              width: 100%; } }

/*# sourceMappingURL=App.css.map */
