.section {
  position: relative;
  padding: 50px;
  box-shadow: 3px 3px 10px $pure-black;
  margin: 50px auto;
  text-align: left;
  background-color: $gray-black;

  &.products {
    grid-template-columns: 100%;
    padding: 100px 20%;

    .item-container {
      background-color: $gray-black;

      .section-item {
        position: relative;
        padding: 30px 20% 30px 20%;
        margin-bottom: 50px;

        h2 {
          margin-top: 0;
          margin-bottom: 30px;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: calc(100% + 150px);
          max-width: 270px;
          transform: translate(-50%, -75px);
        }

        &.align-right {
          text-align: right;

          img {
            position: absolute;
            top: 0;
            left: auto;
            right: 0px;
            transform: translate(50%, -15%);
          }
        }
      }
    }
  }
}
