@import "../../../../common/variables.scss";

.component-item {
  text-align: left;
  padding: 10px auto;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  //background-color: $gray-black-2;
  background-color: $glass;
  align-items: center;
  color: $pure-white;

  &.no-image {
    grid-template-columns: 1fr;
  }
  > img {
    width: 100%;
    max-height: 250px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid rgba(255, 255, 255, 0.2);
    object-position: center;
    object-fit: cover;
  }

  > div {
    text-align: left;
    padding: 0 40px;
    span {
      display: block;
      margin-top: 10px;
      font-size: 18px;
    }
    p {
      text-align: justify;
      word-break: break-word;
      line-height: 25px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: 1fr;

    &.no-image {
      margin: 0;

      span {
        margin: 20px 0;
        display: block;
        font-size: 18px;
        text-transform: uppercase;
      }

      p {
        margin: 0;
        font-size: 15px;
      }
    }

    div {
      margin-top: 10px;
      padding: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}