.product {
  text-align: left;

  p, li {
    font-size: 16px;
  }

  > div {
    background: $gray-black-2;
    padding: 50px;
    margin: 20px 0;
  }

  ul {
    list-style-type: square;
    padding-left: 18px;

    li {
      margin-bottom: 5px;
      //TODO color li
      &:after {
        content: counter(li) ".";
        position: absolute;
        left: -2.5em;
        width: 2em;
        text-align: right;
        color: orange;
      }
    }
  }

  .product-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    h1 {
      grid-column: 1/3;
      text-align: center;
    }

    > div {
      padding: 15px;
    }

    .primary {

    }

    .secondary {

      p {
        text-align: justify;
        line-height: 15px;
      }
    }

    img {
      width: 100%;
      border: 7px solid white;
      box-sizing: border-box;
    }
  }

  .product-options {

    h2 {
      text-align: center;
      margin-top: 0px;
    }

    ol {
      columns: 2;
      column-gap: 60px;
      li {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    .gallery-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      color: black;

      .image-container {
        figure {
          margin: 0;
          text-align: center;
          color: white;
          overflow: hidden;
          border-radius: 10px;
          background-color: $gray-black-1;

          figcaption {
            padding: 15px 10px;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .auxiliary {

    text-align: center;
    h2 {
      margin-top: 0px;
    }

    ul {
      columns: 2;
      column-gap: 60px;
      text-align: left;
      li {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    a {
      margin: 10px 0;
      display: inline-block;
      color: white;
      font-size: 20px;
      padding: 15px;
      min-width: 150px;
      background-color: $gray-black-1;
      text-transform: uppercase;
      border: none;
      -webkit-box-shadow: 0 0 30px -10px $pure-black;
      box-shadow: 0 0 30px -10px $pure-black;
      text-decoration: none;
    }
  }

  .auxiliary-plus {
    h2 {
      text-align: center;
      margin-top: 0;
    }

    img {
      width: 100%;
    }
    .auxiliary-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      p {
        text-align: left;
        margin: 10px 0;
        display: inline-block;
        color: white;
        font-size: 20px;
        padding: 15px;
        min-width: 150px;
        background-color: $gray-black-1;
        text-transform: uppercase;
        border: 2px solid $pure-white;
        -webkit-box-shadow: 0 0 30px -10px $pure-black;
        box-shadow: 0 0 30px -10px $pure-black;
        text-decoration: none;
      }
    }
  }

  .video {
    text-align: center;

    h2 {
      margin-top: 0;
    }

    .video-iframe {
      width: 100%;
      min-height: 500px;
      border: 5px solid $pure-white;
    }
  }

  .fyi {

    h2 {
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        font-size: 18px;

        .fa-icon {
          color: orange;
          margin-right: 5px;
        }
      }

    }
  }

  .photo-gallery {
    text-align: center;
    .gallery-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      img {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid $pure-white;
      }
    }
  }

  @media screen and (max-width: 760px) {
    text-align: justify;
    > div {
      padding: 15px;
    }

    .product-hero {
      grid-template-columns: 1fr;

      h1 {
        grid-column: auto;
      }
    }

    .product-options {

      ol {
        columns: 1;
        column-gap: 0;
        li {
          text-align: left;
        }
      }

      .gallery-container {
        grid-template-columns: 1fr;

        .image-container {
          figure {
            margin: 0;
            text-align: center;
            color: white;
            overflow: hidden;
            border-radius: 10px;
            background-color: $gray-black;

            figcaption {
              padding: 15px 10px;
            }

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .auxiliary {
      ul {
        columns: 1;
        column-gap: 0;
      }
    }

    .auxiliary-plus {
      h2 {
        text-align: center;
        margin-top: 0;
      }

      h3 {
        background: #f0f8ff1a;
        padding: 10px;
        text-align: center;
        margin-top: 0;
      }

      .auxiliary-list {
        grid-template-columns: 1fr;
      }
    }

    .video {
      .video-iframe {
        width: 100%;
        min-height: 250px;
        border: 5px solid $pure-white;
        box-sizing: border-box;
      }
    }

    .photo-gallery {
      .gallery-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}