@import "../../../../common/variables.scss";

.card {
  padding: 15px;
  margin-bottom: 25px;
  text-align: center;
  background-color: $transparent-white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  text-decoration: none;
  color: $pure-white;
  align-items: center;
  border-radius: 7.5px;
  h2 {
    font-size: 18px;
    margin: 0;
    color: $pure-red;
  }

  .details-section {
    text-align: left;
    ul {
      padding: 0;
      font-size: 13px;
      margin: 0;
      list-style-type: square;
      list-style-position: inside;

      li {
        padding: 2px 0;
        color: $pure-black;
        font-weight: bold;
      }
    }


    p {
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      display: block;
      padding: 5px 0;
      background-color: $pure-red;
      text-decoration: none;
      color: $pure-white;
      margin: 5px 0 0 auto;
      width: 100%;
    }
  }

}