@import "../../common/variables.scss";

.section-component {
  position: relative;
  padding: 50px;
  box-shadow: 3px 3px 10px $pure-black;
  text-align: left;
  //background-color: $gray-black;
  background-color: $glass;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &.hero {

    .logo {
      position: absolute;
      transform: translate(-50%, -50%);
      height: 125px;
    }

    .left, .right {
      display: grid;
    }

    .left {
      h1 {
        font-size: 80px;
        margin: 0;
        padding: 0;
        width: 50%;
        line-height: 80px;
      }

      .pictures-container {
        //background-color: $gray-black;
        //background-color: $glass;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        overflow: hidden;

        img {
          display: block;
          width: 75%;
          margin: 0 auto;
        }
      }
    }

    .right {
      padding: 0 50px;
      align-content: center;
      span {
        font-size: 20px;
        line-height: 34px;
      }

      button {
        background-color: $gray-black-1;
        text-transform: uppercase;
        color: $pure-white;
        border: none;
        box-shadow: 0px 0px 30px -10px $pure-black;
        font-size: 20px;
        width: 75%;
        margin: 0 auto;
      }

      .aux-image {
        img {
          width: 100%;
        }
      }
    }
  }

  &.simple {
    grid-template-columns: 1fr;
    text-align: center;
    .main-image {
      width: 50%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .description-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      list-style: none;
      padding: 0 100px;
      margin: 0;
    }
  }

  &.list {
    grid-template-columns: 1fr;

    .item-container {
      //background-color: $gray-black;
      //background-color: $glass;

      .section-item {
        width: 50%;

        a {
          margin: 10px 0;
          display: inline-block;
          color: white;
          font-size: 20px;
          padding: 15px;
          min-width: 150px;
          background-color: $gray-black-1;
          text-transform: uppercase;
          border: none;
          -webkit-box-shadow: 0 0 30px -10px $pure-black;
          box-shadow: 0 0 30px -10px $pure-black;
          text-decoration: none;
        }

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        h2 {
          margin-top: 0;
        }

        .image-container {
          position: relative;
          width: 100%;
          text-align: right;
          img {
            display: inline-block;
            max-width: 270px;
          }
        }

        &.align-right {
          text-align: right;
          margin-left: auto;

          .image-container {
            position: relative;
            width: 100%;
            text-align: right;
            img {
              display: inline-block;
              max-width: 270px;
            }
          }
        }
      }
    }
  }

  &.flags {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    text-align: center;

    .section-item-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 25px;
      text-align: center;
      margin-top: 20px;

      span {
        display: inline-block;
        width: 100%;
        height: 200px;
        border-radius: 5%;
        overflow: hidden;
        position: relative;
        color: black;

        img {
          width: 100%;
          height: 100%;
        }

        h2, .description-container {
          position: absolute;
          width: 100%;
          bottom: 0;
          margin: 0;
          padding: 20px 0;
          color: white;
          background: $pure-gray;
          text-shadow: 2px 2px 6px black;
        }

        .description-container {
          font-size: 18px;
          line-height: 18px;
          padding: 0;
          display: none;
        }

        &:hover {
          h2 {
            display: none;
          }

          .description-container {
            display: block;
          }
        }
      }

      .section-item {

        span {
          opacity: .9;
        }

        &.active {
          h2 {
            display: none;
          }

          .description-container {
            display: block;
          }
        }
      }
    }
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;

    p {
      padding: 0 10px;
    }
  }

  &.products-list {
    grid-template-columns: 1fr;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
      overflow: hidden;
      border-radius: 10px;
      background-color: $product-tile-background;

      h2 {
        text-decoration: none;
      }
    }

    img {
      width: 100%;
      margin-bottom: -5px;
    }
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: 1fr;
    padding: 25px;

    &.hero {

      .logo {
        display: none;
      }

      .left, .right {
        grid-template-columns: 1fr;
      }

      .left {
        h1 {
          font-size: 50px;
          width: 100%;
          line-height: 50px;
        }
      }

      .right {
        padding: 0;
        align-content: center;
        span {
          font-size: 18px;
          line-height: 20px;
          text-align: justify;
        }

        button {
          font-size: 20px;
          width: 100%;
          margin: 0;
          padding: 5px;
          line-height: 30px;
        }

        .aux-image {
          display: none;
        }
      }
    }

    .product-container {
      grid-template-columns: 1fr;
    }

    &.simple {
      .main-image {
        width: 100%;
        margin: 0;
      }

      .description-list {
        grid-template-columns: 1fr;
        padding: 0;
      }
    }

    &.flags {
      .section-item-container {
        grid-template-columns: 1fr;
      }
    }

    &.list {
      .item-container {
        .section-item {
          width: 100%;
          text-align: left;
          img {
            position: relative;
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }

}
