@import "../../common/variables.scss";

.financing {
  display: block;

  .main-area {
    text-align: center;
    background: $gray-black-2;
    padding: 50px;

    h1 {
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    img {
      width: 75%;
    }
  }

  .simple {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 50px;

    img {
      width: 100%;
      margin: auto 0;
    }

    .simple-content {
      padding: 50px;
      text-align: left;

      p {
        text-align: justify;
      }

      .simple-button {
        color: white;
        display: inline-block;
        font-size: 18px;
        padding: 15px;
        min-width: 150px;
        margin: 0 auto;
        background-color: $gray-black-1;
        text-transform: uppercase;
        border: none;
        -webkit-box-shadow: 0 0 30px -10px $pure-black;
        box-shadow: 0 0 30px -10px $pure-black;
        text-decoration: none;
        text-align: center;
      }
    }
  }

  .faq {
    display: grid;
    text-align: justify;
    padding: 50px;
    background: $gray-black-2;

    ol {
      padding-left: 20px;
      margin: 0;
      li {
        h2 {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 760px) {

    .main-area {
      background: $gray-black-2;
      padding: 15px;
      h1 {
        margin-bottom: 7.5px;
      }
      img {
        width: 100%;
      }
    }

    .simple {
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;
      margin-top: 15px;

      img {
        width: 100%;
        margin: auto 0;
      }

      .simple-content {
        padding: 0;

        .simple-button {
        }
      }
    }

    .faq {
      padding: 15px;
      text-align: left;
      background: $gray-black-2;;

      ol {
        padding-left: 20px;
        margin: 0;
        li {
          h2 {
            margin: 0;
          }
        }
      }
    }
  }
}