@import "../../../../common/variables.scss";

.description-component {
  margin: 20px auto;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.03);
  color: $pure-white;
  h2 {
    font-size: 18px;
    margin-top: 0;
  }

  p {
    font-size: 15px;
    letter-spacing: 0;
    text-align: left;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;

    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}