@import "../../common/variables.scss";
.contact {
  display: block;
  text-align: center;
  font-size: 1em;
  .contact-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

    img {
      width: 100%;
      box-sizing: border-box;
      border: 10px solid white;
      border-radius: 5px;
    }

    .details-description {
      //background-color: $gray-black-2;
      background-color: $glass;
      padding: 5%;
      border-radius: 15px;
      h2 {
        font-size: 2em;
      }

      p {
        font-size: 1.5em;
      }
    }
  }

  .contact-person {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    //background-color: $gray-black-2;
    background-color: $glass;
    padding: 2%;
    border-radius: 15px;
    h2 {
      font-size: 18px;
    }

    .person-details {
      display: grid;
      grid-template-columns: 1fr 2fr;

      .person-description {
        //background-color: $gray-black-2;
        background-color: $glass;
        padding: 3%;
      }

      img {
        width: 100%;
        box-sizing: border-box;
        border: 5px solid white;
      }
    }

    .map {
      width: 100%;
      box-sizing: border-box;
      border: 10px solid white;
      border-radius: 5px;

      .map-iframe {
        width: 100%;
        height: 100%;
      }
    }
  }

  .contact-form {
    //background-color: $gray-black-2;
    background-color: $glass;
    margin-top: 15px;
    padding: 2%;

    border-radius: 15px;
    h2 {
      margin-top: 0;
    }

    .contact-form-elements {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 25px;

      .form-inputs {
        text-align: right;
        input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          font-size: 15px;
          margin-bottom: 15px;

          &:last-child {
            margin: 0;
          }
        }

        button {
          color: white;
          font-size: 18px;
          padding: 15px;
          width: 50%;
          min-width: 150px;
          margin: 0 auto;
          background-color: $gray-black-1;
          text-transform: uppercase;
          border: none;
          -webkit-box-shadow: 0 0 30px -10px $pure-black;
          box-shadow: 0 0 30px -10px $pure-black;
        }
      }

      textarea {
        width: 100%;
        min-height: 200px;
        box-sizing: border-box;
        padding: 15px;
        font-size: 16px;
        resize: none;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .contact-details {
      grid-template-columns: 1fr;

      img {
        width: 100%;
        box-sizing: border-box;
        border: 5px solid white;
        border-radius: 5px;
      }

      .details-description {
        padding: 5%;

        h2 {
          font-size: 18px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .contact-person {
      grid-template-columns: 1fr;

      .person-details {
        grid-template-columns: 1fr;

        img {
          border: none;

          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }

      .map {
        border: none;
      }
    }

    .contact-form {
      h2 {
        font-size: 18px;
      }
      .contact-form-elements {
        grid-template-columns: 1fr;
        position: relative;
        margin-bottom: 75px;
        .form-inputs {
          text-align: center;
          
          button {
            position: absolute;
            bottom: -70px;
            width: 100%;
          }
        }
      }
    }
  }
}