@import "../../common/variables.scss";

.offer-form {
  text-align: center;
  margin-top: 25px;

  h2 {
    color: white;
  }

  .subscribe-form {
    input {
      display: block;
      box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
      margin: 0 auto 15px;
    }

    button {
      color: white;
      font-size: 20px;
      padding: 15px;
      width: 50%;
      min-width: 150px;
      margin: 0 auto;
      background-color: $gray-black-1;
      text-transform: uppercase;
      border: none;
      -webkit-box-shadow: 0 0 30px -10px $pure-black;
      box-shadow: 0 0 30px -10px $pure-black;
    }

  }
}