.ReactModalPortal {
  .modal-button {
    width: 25px;
    height: 25px;
    color: black;
    font-weight: bold;
    background: white;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    border-radius: 5%;
  }
}