.component-card {
  margin-bottom: 15px;
  .item {
    a {
      height: 25px;
      width: 25px;
      display: inline-block;
      background: white;
      border-radius: 25%;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      color: black;
    }

    > div {
      text-align: left;
      position: relative;

      &:first-of-type {
        display: grid;
        grid-template-columns: 1fr 10%;
        align-items: center;
      }

      p {
        text-align: justify;
        word-break: break-word;
      }

      span {
        font-size: 20px;
        display: block;
      }
    }

    img {
      width: 100%;
      box-sizing: border-box;
      border: 3px solid white;
    }

    > img {
      border-color: gray;
    }
  }
}