@import "../../../../common/variables.scss";

.offer-table {

  table {
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 5px solid $pure-gray;

    tr {
      border-bottom: 1px solid $pure-white;
      color: white;
      text-align: center;

      th {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        padding: 20px;
      }

      td {
        border-right: 2px dashed white;
        padding: 10px 20px;

        a {
          color: #ff835e;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 0;
          width: 100%;
          display: inline-block;
        }

        &:last-child {
          background-color: $glass;
          padding: 0;
          text-align: right;
          padding-right: 25px;
          &:hover {
            cursor: pointer;
            a {
              color: wheat;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    table {
      tr {
        td {
          &:last-child {
            padding: 0;
            text-align: center;
          }
        }
      }
    }
  }
}
