.default-card {
  margin-bottom: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-decoration: none;
  color: #FFFFFF; }
  .default-card .card {
    background-color: rgba(255, 255, 255, 0.68);
    margin-bottom: 0; }
  .default-card h2 {
    font-size: 18px;
    margin: 0;
    color: #9e0c11; }
  .default-card .details-section {
    text-align: left; }
    .default-card .details-section ul {
      padding: 0;
      /* padding-left: 5px; */
      font-size: 13px;
      margin: 0;
      list-style-type: square;
      list-style-position: inside; }
      .default-card .details-section ul li {
        padding: 2px 0; }
    .default-card .details-section p {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 13px;
      display: block;
      padding: 5px 0;
      background-color: #9e0c11;
      text-decoration: none;
      color: #FFFFFF;
      margin: 5px 0 0 auto; }

/*# sourceMappingURL=default-card.css.map */
