@import "../../../../common/variables.scss";

.default-card {
    margin-bottom: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-decoration: none;
    color: $pure-white;

  .card {
    background-color: $transparent-white;
    margin-bottom: 0;
  }

  h2 {
    font-size: 18px;
    margin: 0;
    color: $pure-red;
  }

  .details-section {
    text-align: left;
    ul {
      padding: 0;
      /* padding-left: 5px; */
      font-size: 13px;
      margin: 0;
      list-style-type: square;
      list-style-position: inside;

      li {
        padding: 2px 0;
      }
    }

    p {
      width: 100%;

      text-align: center;
      font-weight: bold;
      font-size: 13px;
      display: block;
      padding: 5px 0;
      background-color: $pure-red;
      text-decoration: none;
      color: $pure-white;
      margin: 5px 0 0 auto;
    }
  }

}