@import "../../common/variables.scss";

.custom_page {
  margin-bottom: 15px;

  .carousel {
    height: 500px;
    margin-bottom: 20px;
    border-radius: 7.5px;

    .carousel-item {
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    text-transform: uppercase;

    &:not(:first-of-type) {
      border-top: 3px solid $pure-white;
      margin: 0;
      padding: 25px 0;
    }
  }

  .banzice {
    .component-container {
      //background-color: $gray-black-2;
      margin-top: 20px;
      padding: 5px;

      .component-item {
        padding: 15px 0;
        border-radius: 15px;

        span {
          text-transform: uppercase;
        }
      }

      > h2 {
        text-align: center;
        text-transform: uppercase;
      }
    }

    .table-container {
      margin-top: 20px;
      //background-color: $gray-black-2;
      //background-color: $glass;
      padding: 5px 2% 2%;
      border-radius: 15px;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
      }
    }

    .component-list-container {
      margin-top: 25px;
      text-align: center;
      ul {
        list-style: none;
        column-count: 2;
        padding: 0;
        margin: 0 auto;
        text-align: left;
        width: 60%;

        h3 {
          font-weight: normal;
        }

        h3:first-of-type {
          margin-top: 0;
        }

        li {
          position: relative;
          padding-left: 25px;
          .flair {
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            font-weight: bold;
            color: black;
            position: absolute;
            left: 0;
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .circulare {

    .circular {
      margin: 20px auto;
      text-align: center;
      background-color: rgba(240, 248, 255, 0.03);
      padding: 50px 100px;
      border-radius: 15px;

      h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 0;
      }

      p {
        text-align: justify;
        word-break: break-word;
        font-size: 18px;
        letter-spacing: 1px;
      }

      .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
        }
      }
    }

    .circular-table {
      text-align: left;
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
      }
      .offer-table, .offer-pitch {
        width: 50%;
        margin: 0 auto;
      }

      .offer-pitch {
        a {
          display: block;
          text-align: center;
          height: 75px;
          line-height: 75px;
          text-decoration: none;
          font-size: 18px;
          background-color: $pure-red;
          color: $pure-white;
        }

        iframe {
          height: 300px;
          width: 100%;
        }
      }
    }
  }

  .promo {
    padding: 25px 50px;

    .promo-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    h2 {
      text-align: center;
      margin-top: 0;
    }

    .description {
      text-align: left;
    }

    .offer-item {
      background-color: rgba(240, 248, 255, 0.03);
      border-bottom: 5px solid $glass;
      min-width: 1000px;
      padding: 30px;
      margin-bottom: 27px;

      h1 {
        margin-bottom: -85px;
      }

      .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 150px;
        grid-gap: 200px;
        width: 600px;
        height: 600px;
        transform: rotate(225deg);
        margin: 0 auto;

        .offer-card {
          //background-color: $glass;
          text-align: center;
          position: relative;
          width: 300px;
          height: 300px;
          transform: rotate(135deg);
          /*&:not(:first-of-type) {
            &::before {
              content: "+";
              position: absolute;
              height: 50px;
              width: 50px;
              left: -75px;
              display: block;
              !* height: 100%; *!
              text-align: center;
              !* margin: auto 0; *!
              margin-top: 48%;
              line-height: 48px;
              font-size: 50px;
              background: $gray-black-2;
              border-radius: 50%;
            }
          }*/

          span {
            font-size: 18px;
            font-weight: bold;
            display: block;
            background: $pure-red;
            color: $pure-white;
            z-index: 5;
            position: absolute;
            top: 155px;
            width: 100%;
            padding-bottom: 5px;

            &:before {
              content: "";
              position: relative;
              display: block;
              height: 150px;
              background-color: #9e0c11;
            }
          }

          h2 {
            position: absolute;
            top: -40px;
            height: 188px;
            color: $pure-white;
            left: 0;
            width: 100%;
            z-index: 9;
            margin: 0;
            padding: 5px 0;
          }

          img {
            -o-object-fit: contain;
            object-fit: cover;
            -o-object-position: top;
            object-position: center;
            text-align: center;
            position: relative;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            //border-top-left-radius: 0;
            //border-top-right-radius: 0;
            border-top: 3px solid $gray-black-3;
            border-bottom: 3px solid $pure-white;
            overflow: hidden;
            z-index: 10;
          }
        }
      }

      a {
        display: block;
        text-align: center;
        margin: 20px auto 0;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        background: $gray-black-2;
        height: 50px;
        line-height: 50px;
        color: white;
        width: 250px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        position: absolute;
        top: 55%;
        left: 46%;
      }
    }
  }

  .video {
    text-align: center;

    h2 {
      margin-top: 0;
      font-size: 18px;
    }
    .video-container {
      margin: 0 auto;
      display: grid;
      grid-column-gap: 20px;
      &__1 {

        grid-template-columns: 1fr;
      }

      &__2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &__3 {
        grid-template-columns: repeat(3, 1fr);
      }

      &__4 {
        grid-template-columns: repeat(4, 1fr);
      }

      .video-iframe {
        width: 100%;
        min-height: 350px;
        margin-bottom: 20px;
        border: 5px solid $pure-white;
        box-sizing: border-box;
      }
    }
  }

  .modal-header {
    padding: 15px;
    border: 1px solid $pure-white;
    position: relative;
    background-color: $glass;
    font-size: 18px;
    border-radius: 7.5px;

    span {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

    }
  }

  @media screen and (max-width: 760px) {
    .carousel {
      height: 250px;
      .carousel-item {
        height: 250px;
      }
    }

    .banzice {
      .component-container {
        padding: 0;

        > h2 {
          span {
            position: absolute;
            right: 5px;
          }
        }
      }

      .table-container {
        padding: 5px 0 0;

        > h2 {
          padding: 0 15px;
        }
      }
    }

    .circulare {
      .circular {
        margin: 20px auto;
        text-align: center;
        background-color: rgba(240, 248, 255, 0.03);
        padding: 0;
        h2 {
          font-size: 18px;
          margin-top: 0;
        }

        p {
          font-size: 14px;
          letter-spacing: 0;
        }

        .gallery {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 0;
        }
      }
      .circular-table {
        h2 {
          font-size: 18px;
        }
        .offer-table, .offer-pitch {
          width: 100%;
        }

        .offer-pitch {
          a {
            display: block;
            text-align: center;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
            font-size: 18px;
            background-color: $pure-red;
            color: white;
          }

          iframe {
            height: 300px;
            width: 100%;
          }
        }
      }
    }

    .promo {
      padding: 25px 50px;
      .offer-item {
        background-color: rgba(240, 248, 255, 0.03);
        padding: 0px;
        margin-bottom: 20px;
        border-bottom: 5px solid $glass;
        min-width: 0;
        .card-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 100px;
          padding: 0;
          width: 100%;
          height: auto;
          .offer-card {
            text-align: center;
            background-color: $glass;
            position: relative;

            &:not(:first-of-type) {
              &::before {
                content: "+";
                position: absolute;
                height: 50px;
                width: 50px;
                left: -75px;
                display: block;
                /* height: 100%; */
                text-align: center;
                /* margin: auto 0; */
                margin-top: 48%;
                line-height: 48px;
                font-size: 50px;
                background: $gray-black-2;
                border-radius: 50%;
              }
            }

            span {
              font-size: 18px;
              padding: 0;
              font-weight: bold;
              display: block;
            }

            h2 {

            }

            img {
              width: 100%;
              -o-object-fit: contain;
              object-fit: cover;
              -o-object-position: top;
              object-position: center;
            }
          }
        }

        a {
          display: block;
          text-align: center;
          margin: 20px auto 0;
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          background: $gray-black-1;
          height: 50px;
          line-height: 50px;
          color: white;
          width: 250px;
          transform: rotate(0deg);
          position: relative;
          left: 0;
        }
      }
    }


    .promo {
      padding: 10px;
      .promo-container {
        grid-template-columns: 1fr;
        grid-gap: 10px;
      }

      .offer-item {
        h1 {
          margin-bottom: 20px;
        }
        .card-container {
          grid-template-columns: 1fr;
          grid-gap: 25px;
          transform: rotate(0deg);
          height: inherit;
          .offer-card {
            margin-top: 30px;
            text-align: center;
            background-color: $glass;
            position: relative;
            width: 100%;
            transform: rotate(0deg);
            margin-bottom: 45px;
            &:not(:first-of-type) {
              &::before {
                content: "+";
                position: absolute;
                height: 50px;
                width: 50px;
                left: -75px;
                display: block;
                /* height: 100%; */
                text-align: center;
                /* margin: auto 0; */
                margin-top: 48%;
                line-height: 48px;
                font-size: 50px;
                background: $gray-black-2;
                border-radius: 50%;
              }
            }



            span {
              font-size: 18px;
              padding: 0;
              font-weight: bold;
              display: block;
              background: $pure-red;
              color: $pure-white;
              z-index: 5;
              margin-bottom: 3px;
              padding: 10px 0;
            }

            h2 {

            }

            img {
              width: 100%;
              -o-object-fit: contain;
              object-fit: cover;
              -o-object-position: top;
              object-position: center;
              height: inherit;
            }
          }

          .offer-card {
            &:not(:first-of-type) {
              &::before {
                display: none;
              }
            }

            span {
              font-size: 16px;
              height: auto;
            }

            img {
              width: 100%;
              object-position: top;
              height: inherit;
            }
          }
        }
      }
    }
    .video {
      .video-container {
        width: 100%;

        &__1 {
          grid-template-columns: 1fr;
        }

        &__2 {
          grid-template-columns: 1fr;
        }

        &__3 {
          grid-template-columns: 1fr;
        }

        &__4 {
          grid-template-columns: 1fr;
        }

        .video-iframe {
          width: 100%;
          min-height: 250px;
          border: 5px solid $transparent;
        }
      }
    }
  }
}
