@import "../../common/variables.scss";

.about-us {
  display: block;
  text-align: center;

  .data-container {
    .section-container {
      background-color: $glass;
      padding: 15px 75px;
      margin: 0 auto 10px;
      width: 75%;
      border-radius: 15px;

      &:first-of-type {
        p {
          font-weight: bold;
        }
      }

      h2 {
        text-transform: uppercase;
      }

      p {
        font-size: 20px;
        text-align: justify;
      }

      img {
        width: 75%;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .data-container {
      .section-container {
        background-color: $glass;
        padding: 5px 15px;
        margin-bottom: 10px;
        width: auto;

        h2 {
          font-size: 18px;
        }
        p {
          font-size: 15px;
          text-align: left;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}