.promo-card {
  margin-bottom: 25px;
  text-align: center;
  grid-gap: 10px;
  text-decoration: none;
  color: #FFFFFF; }
  .promo-card .card {
    background-color: rgba(255, 255, 255, 0.68);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    text-align: center; }
    .promo-card .card .title {
      color: #9e0c11; }
    .promo-card .card span {
      font-size: 20px; }
  .promo-card h2 {
    font-size: 24px;
    margin: 0;
    color: #9e0c11; }
  .promo-card .details-section {
    text-align: left; }
    .promo-card .details-section ul {
      padding: 0;
      /* padding-left: 5px; */
      font-size: 13px;
      margin: 0;
      list-style-type: square;
      list-style-position: inside; }
      .promo-card .details-section ul li {
        padding: 2px 0;
        display: grid;
        grid-template-columns: 30% 1fr; }
        .promo-card .details-section ul li span {
          display: block; }
    .promo-card .details-section p {
      width: 100%;
      text-align: center;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      background-color: #9e0c11;
      text-decoration: none;
      color: #FFFFFF;
      margin: 5px 0 0 auto;
      font-size: 20px; }
  @media screen and (max-width: 760px) {
    .promo-card .card span {
      font-size: 15px; }
    .promo-card .details-section p {
      font-size: 15px; } }

/*# sourceMappingURL=promo-card.css.map */
