@import "../../../../common/variables.scss";

.promo-card {
  margin-bottom: 25px;
  text-align: center;
  grid-gap: 10px;
  text-decoration: none;
  color: $pure-white;

  .card {
    background-color: $transparent-white;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr;
    text-align: center;
    .title {
      color: $pure-red
    }

    span {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 24px;
    margin: 0;
    color: $pure-red;
  }

  .details-section {
    text-align: left;
    ul {
      padding: 0;
      /* padding-left: 5px; */
      font-size: 13px;
      margin: 0;
      list-style-type: square;
      list-style-position: inside;

      li {
        padding: 2px 0;
        display: grid;
        grid-template-columns: 30% 1fr;

        span {
          display: block;
        }
      }
    }

    p {
      width: 100%;

      text-align: center;
      font-weight: bold;
      display: block;
      padding: 5px 0;
      background-color: $pure-red;
      text-decoration: none;
      color: $pure-white;
      margin: 5px 0 0 auto;
      font-size: 20px;
    }
  }

  @media screen and (max-width: 760px) {
    .card {

      span {
        font-size: 15px;
      }
    }

    .details-section {
      p {
        font-size: 15px;
      }
    }
  }
}