$product-tile-background: #262829;
$transparent: rgba(255, 255, 255, 0);
$pure-white: #FFFFFF;
$pure-gray: #f0f8ff59;
$pure-black: #000000;
$gray-black: #1A1F23;
$gray-black-1: #22292E;
$gray-black-2: #353b40;
$gray-black-3: #969696;
$pure-red: #9e0c11;
$transparent-white: rgba(255, 255, 255, 0.68);
$e-gray: #e9ebee;
$glass: rgba(240, 248, 255, 0.05);